<p style="color: green"><%= notice %></p>

<% content_for :title, "Orders" %>

<h1>Orders</h1>
<hr>
<div id="orders">
  <% @orders.each do |order| %>
    <%= turbo_stream_from 'orders' %>
    <%= render order %>
  <% end %>
</div>
